<!DOCTYPE html>
<html lang="en">

<% include ../partials/head %>

<body>

  <% include ../partials/nav %>

  <div class="img-gradient"></div>
  <div class="img-show">
    <img src="<%= shows.imgurl %>">
  </div>

  <div class="container">
    <h2><%= shows.name %></h2>
    <p>Air Date: <%= shows.airdate %></p>
    <p><strong>About: </strong></p>
    <p><%= shows.about %></p>

    <p><strong>What I like About it:</strong></p>
    <p><%= shows.like %></p>
    <p><strong>Things that could be Improved</strong></p>
    <p><%= shows.dislike %></p>

  </div>

  <script src="/js/script.js"></script>

</body>

</html>
